<ng-container *ngIf="!isLogged">
  <div>
    <div>
      <input type="text" placeholder="Login" [(ngModel)]="login"/>
    </div>
    <div>
      <input type="password" placeholder="Password" [(ngModel)]="password"/>
    </div>
    <div>
      <button (click)="auth()">Log in</button>
    </div>
  </div>
</ng-container>


<ng-container *ngIf="isLogged">
<h1>EVENTTYPES:</h1>
  <ng-container *ngIf="!loading">
    Loading...
  </ng-container>

  <ng-container *ngIf="loading">
    <div>
      <div *ngFor="let c of eventtypes">
        <div>
          {{c.event_title}}
        </div>
      </div>
    </div>
  </ng-container>

  <br/>
  <h1> Attendees: </h1>
  <div>
    <div *ngFor="let p of attendees">{{p.id}} - {{p.name}} - {{p.surname}}</div>
  </div>

  <div>
    <button (click)="logout()">Log out</button>
  </div>

</ng-container> 