*{
    padding:0px;
    margin:0px;
}
#logo {
width: 35%;
padding-left: 6px;
padding-top: 6px;
}
#header {height: 150px; width: 100%;  background: rgba(4, 2, 23, 0.075); background: url(\wallpaper_for_profile.png)}
#login { position: relative;}
#login ul {margin: 0; padding: 0; position: relative; top: -200px; float: right;}
#login li {display: block; margin: 0 0 5px 0;  position: relative;}
#header img {display: block;}
#body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: oblique;
}
#client {position: relative; top: 35px; right: 90px;}



#info {display: block;  position: relative; top: -130px; left: 190px; width: 300px;}
#info ul {text-align: left; padding: 0; margin:0;}
#info li {display: block; font-size: 24px;}
#info button {width: 90px; height: 30px; margin: 10px 0 0 0;}
th, table, tr, td {
border: 1px solid black;
}
/* #main{background: url(C:\Users\Куаныш\Desktop\ShowmanHouse\dbweb-front\src\app\photo-1533174072545-7a4b6ad7a6c3.jpg)} */

#main {
    display: block;
    width: 100%;
    height: 80%;
}

#main {
    position: relative;
    width:100%;
    height: 590px;
}
#client-orders-info
{   
    display: block;
    position: relative;
    width: 290px;
    height: 590px;
    
    text-align: right;
}

#events{
    display: block;
    position: relative;
    top: -611px;
    left: 290px;
    width: 64%;
    height: 590px;
    
}
#footer {
    border-top: 2px solid blue;
    position: relative;
    display: block;
    text-align: center;
}
#clients {
    float: left;
    position: absolute;
}

#buttons {
    position: relative;
    top: -10px;
    font: outline;
    text-decoration: black;
    text-decoration-style: solid;
}

#listss {
    color: wheat;
    font-style: italic;
}

#footer {
    background-color: cadetblue;
}
#header {
    background-color: darkblue;
    border: 3px solid darkslategray;

}
#main {
    background-color: lightsalmon;
}


#makeorders {
    font-weight: bold;
    font-size: 20px;
    color: rgb(137, 167, 211);
    position: relative;
    left: 860px;
    top: -150px;
}

#makeorder2 {
    font-weight: bold;
    font-size: 10px;
    padding-left: 39px;
    padding-top: 10px;
}
#makeorders li {
    display: block;
}

#client-orders-info{
    background-color: lightsalmon;
    }

#tableorders {
    text-align: center;
    padding-left: 0.5%;
    padding-top: 10px;
}

button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 1px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

.ordersbuttons {
    width: 10px;
}


#eventstable {
    text-align: center;
    padding-left: 22%;
    padding-top: 10px;
}

#events{
    background-color: lightcyan;
    border: 3px solid lightgoldenrodyellow;
    height: 590px;
    margin-top: 1.5%;
}

.radiob input[type="radiobutton"]{
    font-size: 10px;
}
#headerh11 {
    padding-left: 22%;
}