<ng-container *ngIf="!isLogged">
  <div>
    <div>
      <input type="text" placeholder="Login" [(ngModel)]="login"/>
    </div>
    <div>
      <input type="password" placeholder="Password" [(ngModel)]="password"/>
    </div>
    <div>
      <button (click)="auth()">Log in</button>
    </div>
  </div>
</ng-container>

<div id="header">
    <img src=" " width="180" height="140">
    <div id="info">
      <ul>
        <li>Name</li>
        <li>Surname</li>
      </ul>
      <button>My Orders</button>
      <button id="client">About Me</button>
    </div>
    <div id="login">
    <ul>
      <li> <input type="text" > </li>
      <li> <input type="text" > </li>
      <li> <button>Sign In</button>  </li>
    </ul>
  </div>
  </div>
  <div id="main">
    <div id="client-orders-info">
      да да я
    </div>
    <div id="events">
    <h1>EventTypes:</h1>
    </div>
  </div>
<ng-container *ngIf="isLogged">
<h1>EVENTTYPES:</h1>
  <ng-container *ngIf="!loading">
    Loading...
  </ng-container>
  <ng-container *ngIf="loading">
    <div>
      <div *ngFor="let c of eventtypes">
        <div>
          {{c.event_title}}
        </div>
      </div>
    </div>
  </ng-container>
  <br/>
  <h1> Attendees: </h1>
  <div>
    <div *ngFor="let p of attendees">{{p.id}} - {{p.name}} - {{p.surname}}</div>
  </div>
  <div>
    <button (click)="logout()">Log out</button>
  </div>
  <div id="footer">
      <em> Copyright Database2019 </em>
  </div>

</ng-container> 